@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  max-width: 1140px;
  margin: auto;
  padding: 0 16px;
}

.primary {
  color: #4A49BE;
}

.primary-bg {
  background-color: #4A49BE;
}
